body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: bisque;
    border-radius: 1rem;
    padding: 1.5rem;

    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

h1 {
    font-size: 2rem;
    background: linear-gradient(45deg, #ff8c00, #ffb347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
}

input,
button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: all 0.3s ease;
}

button {
    background: linear-gradient(45deg, #ff8c00, #ffb347);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
    border-color: #ff8c00;
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.4);
}

@media screen and (max-width: 480px) {
    form {
        width: 100vw;
    }
}